@font-face {
    font-family: 'IvyMode-Bold';
    src: url('font.nosync/IvyMode-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IvyMode-Italic';
    src: url('font.nosync/IvyMode-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IvyMode-Light';
    src: url('font.nosync/IvyMode-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IvyMode-Regular';
    src: url('font.nosync/IvyMode-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IvyMode-Thin';
    src: url('font.nosync/IvyMode-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    max-width: 100%;
    margin: 0;
}

.header-container {
    height: 45vw;
    overflow: hidden;
}

.header-container img {
    position: absolute;
    top: 0;
    max-width: 100%;
    object-fit: cover;
    transform: translateY(-35%);
    /* move the image up by half its height */
    clip-path: inset(20% 0 20% 0);
    -webkit-clip-path: polygon(0 80%, 45% 90%, 100% 70%, 100% 0, 0 0);
    -moz-clip-path: polygon(0 80%, 45% 90%, 100% 70%, 100% 0, 0 0);
    -ms-clip-path: polygon(0 80%, 45% 90%, 100% 70%, 100% 0, 0 0);
    clip-path: polygon(0 80%, 45% 90%, 100% 70%, 100% 0, 0 0);
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1vw;
    z-index: 1;
    font-family: 'IvyMode-Bold';
}

.header a {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.home-title {
    font-family: 'IvyMode-Bold';
    flex: 2;
    position: relative;
    justify-content: center;
    top: 12vw;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4vw;
}

.intro-section {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
    /* margin-left: 100px;
    margin-right: 100px; */
    gap: 5px;
    padding-bottom: 2vw;
    font-family: 'IvyMode-Thin', 'IvyMode-Italic', 'IvyMode-Light', 'IvyMode-Regular';
    font-size: 1.2vw;
}

.intro1,
.intro2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.intro1 {
    padding-left: 2vw;
    padding-right: 30vw
}

.intro2 {
    text-align: right;
    padding-left: 30vw;
    padding-right: 2vw;
}

hr {
    border: none;
    border-top: 0.5px solid black;
    margin: 2vw 0;
    width: 45vw;
    align-items: center;
}

#author {
    font-family: 'IvyMode-Bold', 'IvyMode-Regular';
}

.image-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 10px;
}

.column {
    -ms-flex: 27%;
    flex: 27%;
    padding: 0 10px;
}

.column img {
    margin-top: 12px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.image-header {
    text-align: center;
    padding: 32px;
    font-size: 1.5vw;
}

/* Style the buttons */
.btn {
    border: none;
    outline: none;
    padding: 1.2vw 1.2vw;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 1.2vw;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active {
    background-color: #666;
    color: white;
}

.footer {
    /* font-family: 'IvyMode-Regular', sans-serif; */
    margin-top: 2vw;
    background-color: #F2EEED;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    padding-bottom: 1vw;
}

.footer-container {
    display: flex;
    flex-direction: row;
}

.people {
    font-family: 'IvyMode-Regular', sans-serif;
    font-size: 1.1vw;
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    text-align: left;
    padding-left: 6vw;
    margin-top: 1.5vw;

}

.footer-title {
    font: 'IvyMode-Bold';
    text-transform: capitalize;
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
}

.footer-title:after {
    content: "";
    float: left;
    background: #AB8C83;
    width: 5vw;
    height: 0.4vw;
    border-radius: 3px;
}

.end {
    font-family: 'IvyMode-Italic', sans-serif;
    font-size: 1vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1.5vw;
}

.github {
    color: var(--primary-dark);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.github:hover {
    transform: rotate(360deg) scale(1.2);
}

.insta:hover,
.linkedin:hover {
    transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .home-title {
        font-size: 5vw;
    }

    .intro-section {
        font-size: 3vw;
    }

    .image-header {
        text-align: center;
        padding: 32px;
        font-size: 3vw;
    }

    .header {
        font-size: 1.5vw;
    }
   
}