@font-face {
    font-family: 'IvyMode-Bold';
    src: url('font.nosync/IvyMode-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IvyMode-Italic';
    src: url('font.nosync/IvyMode-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IvyMode-Light';
    src: url('font.nosync/IvyMode-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IvyMode-Regular';
    src: url('font.nosync/IvyMode-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


body {
    background-image: url("pic.nosync/b4.jpg");
    /* background-color: #F8F8F8; */
    font-family: 'IvyMode-Bold', 'Dejavu Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    margin-bottom: 10vw;
    /* 16:9 aspect ratio */
}

#wedding-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.home-title,
.home-date {
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4vw;
}

.home-date {
    font-size: 1vw;
    margin-top: 7.5vw;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1vw;
    z-index: 1;
}

.header a {
    display: inline-block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.intro-section {
    /* padding-left: 2vw; */
    padding-right: 1.5vw;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    flex: auto;
    flex-direction: column;
    gap: 2vw;
    position: relative;
}

.intro-section h2 {
    font-size: 3.5vw;
}

.intro-section p {
    font-family: 'IvyMode-Light', 'IvyMode-Regular';
    font-size: 1.5vw;
}

.section {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    gap: 3vw;
    align-items: center;
}

.textblock {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    width: 700px;
}

.textblock.text2 h2 {
    text-align: end;
}

.section.img3 {
    justify-content: right;
    margin-right: 60px;
}

.footer {
    margin-top: 2vw;
    background-color: #F8F8F8;
    opacity: 0.65;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    padding-bottom: 1vw;
}


.footer-container {
    display: flex;
    flex-direction: row;
    bottom: 0;
}

.people {
    font-family: 'IvyMode-Regular', sans-serif;
    font-size: 1.1vw;
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    text-align: left;
    padding-left: 6vw;
    margin-top: 1.5vw;

}

.footer-title {
    font: 'IvyMode-Bold';
    text-transform: capitalize;
    font-size: 1.5vw;
    margin-bottom: 0.5vw;
    margin-left: 2vw;
}

.footer-title:after {
    content: "";
    float: left;
    background: #AB8C83;
    width: 5vw;
    height: 0.4vw;
    border-radius: 3px;
}

.end {
    font-family: 'IvyMode-Italic', sans-serif;
    font-size: 1vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 1.5vw;
}

.github {
    color: var(--primary-dark);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

.github:hover {
    transform: rotate(360deg) scale(1.2);
}

.insta:hover,
.linkedin:hover {
    transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .header {
        font-size: 1.5vw;
    }
   
    .home-title {
        font-size: 5vw;
    }

    .home-date {
        font-size: 1.5vw;
    }

    .intro-section h2 {
        font-size: 8vw;
    }

    .intro-section p {
        font-size: 3vw;
    }

    .footer-title {
        font-size: 3vw;
    }

    .footer-title:after {
        width: 15vw;
    }

    .end {
        font-size: 3vw;
        padding-right: 3vw;
    }

    .footer-column {
        padding-left: 3vw;
        margin-right: 5vw;
        margin-top: 2vw;
    }

    .people {
        font-size: 3vw;
    }
}


/* For screens that are at least 768px wide */
@media screen and (min-width: 768px) {
    .header-container {
      height: 30vw;
    }
  
    .intro-section {
      font-size: 1.5vw;
      margin-top: 5vw;
    }
  
    hr {
      width: 30vw;
    }
  
    .footer {
      flex-direction: column;
    }
  
    .footer-column {
      margin-right: 0;
      text-align: center;
      padding-left: 0;
      margin-top: 2vw;
    }
  
    .footer-title {
      font-size: 1.8vw;
    }
  
    .people {
      font-size: 1.5vw;
    }
  
    .end {
      font-size: 0.8vw;
    }
  }
  